[Unit]
Description=Hyprland wayland compositor
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/Hyprland

[Install]
WantedBy=default.target
